
*{
   margin:0;
  padding:0;
  box-shadow: border-box;
  scroll-behavior: smooth;

}
:root{
    --primary:rgb(12, 236, 12);
    --text:rgba(5, 0, 0, 0.74);
}
h2{
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
    padding: 2rem;
}
a{
    font-weight: 500;
}
@media (max-width: 480px) {

  .navlink {
    padding: 10px 12px;
  }

  .logo {
    max-width: 45px;
    margin: 1px auto;
  }

  .navlist {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
   justify-content: center;
    background: rgba(255, 255, 255, 0.95);
    align-items: center;
    display: none; /* toggled via JS later */
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }

  .navlist a {
    margin: 12px 0;
    font-size: 16px;
  }
}

