
*{
   margin:0;
  padding:0;
  box-shadow: border-box;
  scroll-behavior: smooth;

}
:root{
    --primary:rgb(12, 236, 12);
    --text:rgba(5, 0, 0, 0.74);
}
h2{
    text-align: center;
    font-size: 2rem;
    color: var(--primary);
    padding: 2rem;
}
a{
    font-weight: 600;
}