

.nav{
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.navlink{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    backdrop-filter: blur(12px);
}
.logo{
    max-width: 60px;
    border-radius: 50%;
    box-shadow: 0px 2px 4px var(--primary);

}
a{
    color: var(--primary);
}
.navlist a{
    margin: 15px;
}