
.des h2{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: var(--primary);
}
.des-item{
   display: flex;
   align-items: center;
}
.item{
    flex: 1;
    padding: 20px;
}
.des-img{
    width: 100%;box-shadow: 0 4px 24px 0 var(--primary);
}